body{
    /* background: rgba(243, 77, 105, 0.813); */
    background : rgba(50, 24, 50, 0.861)
    /* background-color: rgb(156, 156, 214); */
}
.navbar{
    z-index: 99;
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 0;
}
a{
    color: white;
}
.carousel-inner{
    opacity: 0.7;
}

#carouselExampleAutoplaying{
    height: 100vh;
    overflow: hidden;
}
#carouselExampleAutoplaying img{
    height: 80vh;
}


.homeContent{
    width: 100%;
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* left: 50%; */
}

.homeContent p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.timer {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    display: flex;
}
.timerBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:2rem;
    color: white;
}
.timer-label {
    font-size: 24px;
}

/* .timer div {
    display: inline-block;
    margin: 0 10px;
} */


.about{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#aboutHeading{
    font-size: 1.5rem;
    font-weight: bold;
    color:orange;
    border-bottom: 2px solid orange;
}


.aboutObj{
    font-weight: bold;
    width: 100%;
    text-align: start;
}

.aboutCards{
   display: flex ;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.card{
    margin: 1rem;
}



.dates{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;
}

#datesHeading{
    font-size: 1.5rem;
    font-weight: bold;
    color:orange;
    text-align: center;
    /* border-bottom: 2px solid orange; */
}
