body {
  background-color: #f4f0f0;
}

.mainhead {
  font-size: 1.8rem;
  color: #574a66;
  text-align: center;
  font-weight: bold;
}

.horizontaline {
  border: 2px solid #ffa854;
  width: 25%;
  margin: auto;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 5rem;
}
/* 
.form_container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: #574a66;
} */
/* 
.form_field {
    width: 28rem;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form_field:hover {
    border: 1.9px solid  #ffa854 ;
}


#select,
#message {
    width: calc(100% - 20px);
    width: 28rem;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#message {
    height: 10rem;
}

#submit {
    width: calc(100% - 20px);
    margin-top: 2rem;
    padding: 10px;
    box-sizing: border-box;
    height: 3rem;
    width: 11rem;
    border: none;
    border-radius: 22px; 
    cursor: pointer;
    transition: box-shadow 0.5s ease;
    background-color: #ffa854;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#submit:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); 
      
}

#submit:active {
    transform: translateY(-2px);
}

.form_img {
    width: 50%;
    padding: 0;
    box-sizing: border-box;
}

.form_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.flex-container {
    display: flex;
    width: 100%;
}
 */
.reg-table {
  margin-top: 2px;
  margin-left: 5rem;
}
.reg-account {
  margin-left: 5rem;
  margin-top: 2rem;

  width: 50%;
}
.reg-note {
  margin-left: 5rem;
}
/* 
@media (max-width: 860px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .form_container,
  .form_img {
    width: 90%;
    margin-bottom: 2rem;
  }
  .form_field {
    width: 100%;
  }

  #select,
  #message {
    width: 100%;
  }
}


 */
