* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* background-color: white; */
}
.horizontaline {
  border: 2px solid #ffa854;
  width: 25%;
  margin: auto auto 1rem auto;
}
.MainHead {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
.subHead {
  color: #574a66;
}

.content {
  margin: 1rem auto;
  padding: 0 1rem;
  text-align: justify;
  font-size: 1.2rem;
}
.wrap {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .horizontaline {
    width: 50%; /* Change the width to 50% on screens smaller than 768px */
  }
  .MainHead {
    font-size: 1.5rem;
  }
  .content {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .horizontaline {
    width: 75%; /* Change the width to 75% on screens smaller than 480px */
  }
  .MainHead {
    font-size: 1.2rem;
  }
}
